# ======================
# Logs
# ======================
backend/logs/

# ======================
# Data
# ======================
backend/data/raw/
backend/data/processed/
*.csv

# ======================
# Python Cache
# ======================
__pycache__/
*.pyc

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Models
# ======================
*.pkl
*.joblib

# ======================
# Environment
# ======================
.env